{% load staticfiles %}
<html>
	
	  <header>
	      <title>DeepOSM - Improve OpenStreetMap with Neural Networks</title>
        <link rel="stylesheet" href="{% static 'base.css' %}" />
        {% block head_content %}{% endblock %}
	  </header>

	  <body>
    		<div style="background-color:#EFE; padding:10px">
      		  <h1 class=main-header><a href=/>DeepOSM</a></h1>
      		  <h2 class=main-header>Improve OpenStreetMap with Neural Networks</h2>
      	</div>
    		<div style="padding:10px">
    	      {% block content %}{% endblock %}
      	</div>
  	</body>

</html>
