<!-- List errors for a given region. User can clicm list to see details of each error.
-->

{% extends 'base.html' %}

{% block content %}

		<h3>{{ analysis_title }} <span class=gray-span>({{ country_abbrev }}, {{ state_name|capfirst }})</span> (<a style="color:orange" href=/road-registration-errors/{{ country_abbrev }}/{{ state_name}}/list/?json=True target=_new>as JSON</a>)</h3>
		<table>
				{% for error in errors %}
				    <tr>
				        <td>
				            <a href="/{{ analysis_type }}/{{ country_abbrev }}/{{ state_name }}/view/{{ forloop.counter0 }}/">
				                Likely Error: {% widthratio error.0 1 85 %}% - View on Map
				            </a>
				        </td>
				        <td>
				            <span class=gray-span>NE</span> {{error.1}}, {{error.2}}
				        </td>
				        <td>
  				          <span class=gray-span>SW</span> {{error.3}}, {{error.4}}
				        </td>
		    	  </tr>
				{% endfor %}
		</table>

{% endblock %}
