---
title: Deep OSM Journal
---

<!DOCTYPE html>

<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Deep OSM Journal" />
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <title>Deep OSM Journal</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">Deep OSM Journal</h1>
          <h2 id="project_tagline">Data Science and Programming</h2>
         </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {% for category in site.categories %}
          <ul>
            {% for post in category.last %}
              <li>
                <a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </section>
    </div>
  </body>
</html>
