---
title: Gaia GPS Release Notes
---

<!DOCTYPE html>

<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Gaia GPS Release Notes : Information about software updates" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Gaia GPS Release Notes</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">Gaia GPS Release Notes</h1>
          <h2 id="project_tagline">iOS, Android, and Web (cloud.gaiagps.com)</h2>
         </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

  {% for category in site.categories %}
  <h1>
    {{category[0] | capitalize}}
  </h1>
<ul>
  {% for post in category.last %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
  {% endfor %}
      </section>
    </div>

    <!-- FOOTER  -->
  </body>
</html>
