boto3==1.3.1
GDAL==2.1.0
h5py==2.6.0
jupyter==1.0.0
numpy==1.11.0
Pillow==3.2.0
pyproj==1.9.5.1
requests==2.10.0
s3cmd==1.6.1
Shapely==1.5.15

# tflearn, pinned to an arbitrary commit
git+https://github.com/tflearn/tflearn.git@4fef666

# NOTE: pyosmium is included via the Dockerfile, because it has weird requirements to pip